form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.modal-title {
    padding-bottom: 1rem;
}

form input {
    padding: 0.5rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    margin-bottom: .8rem;
}

form textarea {
    padding: 0.5rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    margin-bottom: .8rem;
}

form button {
    display: flex;
    justify-content: center;

    background-color: #0bade3;
    color: #fff;
    padding: .7rem;
    font-size: 1.1rem;
    border: 1px solid #0bade3;
    cursor: pointer;
    font-weight: bold;
    border-radius: .2rem;

    transition: all .3s ease-in-out;
}

form button:hover {
    background-color: #0a86af;
}

.text-signup {
    padding-top: 1.3rem;
    display: flex;
    justify-content: center;
}

.signup {
    background-color: transparent;
    color: #0bade3;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    padding-left: .4rem;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.signup:hover {
    color: #003b4e;
    text-decoration: underline;
}