.card-search {
    display: flex;
    padding: 2rem;
    transform: scale(.8);
    transition: all .3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
}

.card-search:hover{
    transform: scale(.9);
}

.card-search-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-search-image img {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    padding: 1rem;
}

.user-search {
    color: #6d6d6d;
    font-size: .8rem;
}

.card-search-hr{
    transform: scale(.8);
} 