.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* HEADER */

.profile-header {
    width: 60%;
    margin-top: 6.5rem;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    border-radius: .3rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: #fff;
    z-index: -2;
}

.profile-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 55%;
    z-index: -1;
    border-radius: .3rem .3rem 0 0;
}

.profile-avatar {
    border-radius: 50%;
    width: 45%;
    border: solid 5px #fff;
    object-fit: cover;
    object-position: center;
}

.profile-header h2 {
    font-size: 2rem;
    padding: 1rem 0;
    font-family: Roboto, Arial;
}

.btn-create-news {
    display: flex;
    align-items: center;
    padding: 1rem;
}

/* HEADER */

/* POSTS */

.profile-posts {
    margin: 1rem 0;
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3.5rem;
    width: 60%;
    border-radius: .3rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: #fff;
}

/* POSTS */