.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-news{
    margin-top: 6.5rem;
    width: 80%;
        
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 1rem 0;
}