form textarea{
    padding: 0.5rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    margin-bottom: .8rem;
}

.publish-news {
    display: flex;
    justify-content: center;

    background-color: #0bade3;
    color: #fff;
    padding: .7rem;
    font-size: 1.1rem;
    border: 1px solid #0bade3;
    cursor: pointer;
    font-weight: bold;
    border-radius: .2rem;

    transition: all .3s ease-in-out;
}

.publish-news:hover {
    background-color: #0a86af;
}