.top-news-datails{
    margin: 6.5rem 0;
    width: 80%;
    /* background-color: #fff;
    border-radius: .3rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
}