nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 9999;
}

.logo-image {
    width: 8rem;
    height: 3.5rem;
    object-fit: cover;
    cursor: pointer;
}

div.controls {
    display: flex;
    align-items: center;
}

.input-search-space {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.bi-search {
    position: absolute;
    top: 1;
    right: 0;
    z-index: 10;
    border: none;
    background-color: #F3F2EF;
    color: #757575;
    border-radius: .3rem;
    padding: .5rem;
}

.search-input {
    outline: none;
    font-size: 1rem;
    padding: .6rem;
    background-color: #F3F2EF;
    border: none;
    width: 100%;
    border-radius: .3rem;
}

.space-btn-menu {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

button.btn-menu {
    background-color: #007ca6;
    border: solid 1px #007ca6;
    outline: none;
    font-size: 1rem;
    padding: .4rem;
    color: #fff;
    transition: all .4s ease-in-out;
    cursor: pointer;
    border-radius: .3rem;
    font-family: Roboto, arial;
    width: 40%;
    font-weight: 500;
    letter-spacing: .1rem;

}

button.btn-menu:hover {
    background-color: #005673;
}

.space-user-logged {
    cursor: pointer;
    position: relative;
}

.space-user-logged .user-logged-avatar {
    height: 3rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.space-user-logged:hover .user-logged-avatar {
    filter: brightness(50%);
}

.space-user-logged .icon-menu {
    display: none;
    color: #fff;
    transition: all .5s ease-in-out;
}

.space-user-logged:hover .icon-menu {
    display: block;
    position: absolute;
    font-size: 1.4rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.space-menu{
    position: absolute;
    background-color: #F3F2EF;
    color: #000;
    border-radius: .3rem;
    right: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;

    display: flex;
    justify-content: center;
}

.space-menu ul li{
    list-style: none;
    padding: 1rem;
    transition: all .3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.space-menu ul li .icon-menu{
    padding-right: .5rem;
}

.space-menu ul li:hover{
    background-color: #ccc;
    border-radius: .3rem;
}

.space-menu hr{
    width: 60%;
    margin: 0 auto;
}