nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.logo-image {
    width: 8rem;
    height: 3.5rem;
    object-fit: cover;
    cursor: pointer;
}

div.controls {
    display: flex;
    align-items: center;
}

.input-search-space {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.bi-search {
    position: absolute;
    top: 1;
    right: 0;
    z-index: 10;
    border: none;
    background-color: #F3F2EF;
    color: #757575;
    border-radius: .3rem;
    padding: .5rem;
}

.search-input {
    outline: none;
    font-size: 1rem;
    padding: .6rem;
    background-color: #F3F2EF;
    border: none;
    width: 100%;
    border-radius: .3rem;
}

.space-btn-menu {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}

button.btn-menu {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.5rem;
    padding: .3rem;
    color: #959595;
    transition: all .4s ease-in-out;
    cursor: pointer;
    transform: scale(0.8);

}

button.btn-menu:hover {
    transform: scale(1);
}