footer {
    margin-top: 2rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    
}

footer p{
    font-family: Roboto, Arial;
}

footer p a{
    text-decoration: none;
    color: #0bade3;
    font-family: Roboto, Arial;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

footer p a:hover{
    color: #094d64;
}