.container-results{
    padding-top: 5rem;
}

.text-results{
    padding: 2rem 8rem;
    background-color: #fafafa;
}
.search-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 7rem;
}

.notfound-image{
    width: 30%;
    margin: 0 auto;
    display: flex;
}

.subtitle-result{
    font-size: .8rem;
}

.text-results h2{
    font-size: 3rem;
    padding-top: 1rem;
}