.card-search {
    display: flex;
    padding: 2rem;
    margin: .5rem 0;
    max-width: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
    border-radius: .3rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.card-search:hover{
    transform: scale(.98);
}

.card-search-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-search-image img {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    padding: 1rem;
}

.user-search {
    color: #6d6d6d;
    font-size: .8rem;
}